.footer-help-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.footer-help-menu_title {
  font-size: 15px;
  line-height: 18.9px;
  letter-spacing: 1.58px;
  text-transform: uppercase;
}

.footer-help-menu_separator {
  display: block;
  border-bottom: 1px solid #FFFFEF;
  width: 40px;
}

.footer-help-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer-help-menu-list_item--link {
  text-transform: uppercase;
  color: #FFFFEF;
  text-decoration: none;
  letter-spacing: 1.58px;
  white-space: nowrap;
}

@media only screen and (max-width: 1199px) {
  .footer-help-menu {
    flex: none;
  }
}

@media only screen and (max-width: 991px) {
  .footer-explore-menu {
    order: 2;
  }
}

@media only screen and (max-width: 320px) {
  .footer-help-menu_title {
    font-size: 14px;
  }
}