@import './reset.css';

@import '../../layout/main.css';
@import '../../home/main.css';

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: jost;
  src: url('../fonts/Jost-Regular.ttf') format("truetype");
}

* {
  font-family: roboto;
}